:root.theme-light {
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #fff1f7;

  --accent-color: #ff8dcb;
  --accent-color-fade: rgb(53 50 48 / 0.4);

  --text-color: #353430;
  --text-title-color: #ffc2e6;

  --button-color: #353430;
  --header-description-bg: #353430;
  --decor-color: #353430;
  --section-title-color: #353430;
  --section-block-title-bg: #353430;

  --special-elements-visibility: hidden;

  /* переопределенние переменных в классах, как было у меня, 
  сразу выглядело неправильно, но не мог подобрать подходящую альтернативу */

  /* был вариант с какой-то трёхуровневой абстракцией через палитру и т.д, 
  но это тоже особо не упрощало отладку */
}

@media (prefers-color-scheme: light) {
  :root.theme-auto {
    --bg-image: url(../images/cover-image-light.png);
    --bg-color: #fff1f7;

    --accent-color: #ff8dcb;
    --accent-color-fade: rgb(53 50 48 / 0.4);

    --text-color: #353430;
    --text-title-color: #ffc2e6;

    --button-color: #353430;
    --header-description-bg: #353430;
    --decor-color: #353430;
    --section-title-color: #353430;
    --section-block-title-bg: #353430;

    --special-elements-visibility: hidden;
  }
}
