.page {
  display: flex;
  flex-direction: column;
  gap: var(--page-spacing);
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 10px;
}

.header {
  display: grid;
  height: 100vh;
  min-height: 668px;
}

.header__bulb {
  visibility: var(--special-elemets-visibility);
  position: relative;
  justify-self: end;
  font-size: 1.125rem;
  line-height: 25px;
  color: var(--accent-color);
  margin-right: 28px;
}

.header__bulb::after {
  content: '';
  position: absolute;
  /* подгонялось по макету */
  top: 8px;
  left: calc(100% + 10px);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  font-size: 1.125rem;
  line-height: 1em;
  padding-inline: 13px; /* в макете 13px, но в UI ките 25px */
  padding-block-end: 4px;
  background-color: transparent;
  color: var(--accent-color);
  border: 1px solid transparent;
  text-transform: lowercase;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--accent-color-fade);
}

.header__theme-menu-button_active,
.header__theme-menu-button_active:hover {
  border: 1px solid var(--accent-color);
  pointer-events: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-block-end: 1px solid var(--accent-color);
}

.title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  color: var(--text-title-color);
  text-shadow: 4px 4px var(--accent-color);
}

.header__description {
  font-size: 1.125rem;
  line-height: 1.3em;
  font-weight: bold;
  align-self: start;
  color: var(--bg-color);
  background-color: var(--accent-color);
  margin-block-end: 30px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid var(--accent-color);
}

.decorated-zone::before {
  top: 0;
  right: 0;
  border-left: none;
  border-bottom: none;
}

.decorated-zone::after {
  bottom: 20px; /* TODO: добавить отступ */
  left: 0;
  border-right: none;
  border-top: none;
}

.content {
  display: grid;
  gap: 50px;
  font-size: 1.125rem;
  line-height: 23.4px;
}

.section {
  display: grid;
  gap: 20px;
}

.section__title {
  font-size: inherit;
  line-height: inherit;
  color: var(--accent-color);
}

.section__block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section__block-title {
  font-size: inherit;
  line-height: inherit;
  background-color: var(--accent-color);
  color: var(--bg-color);
}

.section__block-text {
  color: var(--text-color);
}

.section__images {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section__images > .section__block {
  display: grid;
  gap: 10px;
}

.text-regular {
  font-weight: normal;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 668px;
}

.footer__title {
  text-shadow: 2px 2px var(--accent-color);
}

.decorated-link {
  text-shadow: 2px 1px var(--accent-color);
  text-decoration: none;
}

.decorated-link:hover {
  text-decoration: underline;
}

.decorated-link:focus-visible {
  outline: 1px solid var(--text-color);
}

@media (width >= 768px) {
  .page {
    padding: 20px;
  }

  .header {
    min-height: 1024px;
  }

  .header__title {
    margin-inline-start: -20px;
  }

  .header__description {
    margin-inline-start: 50%;
    /* margin-block-end: 30px; */
  }

  .decorated-zone::after {
    bottom: 40px; /* TODO: добавить отступ */
  }

  .section:nth-child(1),
  .section:nth-child(3) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .section__title {
    grid-column: 1;
  }

  .section__block {
    grid-column: 2 / -1;
  }

  .section:nth-child(3) .section__block-title {
    grid-column: 2 / -1;
    inline-size: 100%;
  }

  .section:nth-child(3) .section__title {
    grid-row: 1 / 3;
  }

  .section__images {
    gap: 20px;
  }

  .section__images > .section__block {
    gap: 20px;
  }

  .section__images .image:nth-child(1) {
    grid-column: 1 / 3;
  }
  .section__images .image:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }
  .section__images .image:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }
  .section__images .image:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  .section__images .image:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }
}

@media (width >= 1024px) {
}
