.page {
  display: flex;
  flex-direction: column;
  gap: var(--page-spacing);
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  height: var(--full-height);
  min-height: 668px;
  padding: var(--page-padding);
}

.header__bulb {
  position: relative;
  visibility: var(--special-elements-visibility);
  grid-column: 1;
  grid-row: 1;
  justify-self: end;
  margin-right: 28px;
  color: var(--accent-color);
  font-size: var(--regular-font-size);
  line-height: 25px;
}

.header__bulb::after {
  content: '';
  position: absolute;
  top: 8px;
  left: calc(100% + 10px);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
}

.header__theme-menu {
  grid-column: 1;
  grid-row: 1 / 3;
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-block-start: 13px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding-inline: 13px;
  padding-block-end: 4px;
  color: var(--button-color);
  font-size: var(--regular-font-size);
  line-height: 1em;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--accent-color-fade);
}

/* :hover был добавлен до добавления свойства pointer-events: none 
поэтому не заметил, что селектор стал ненужным */
.header__theme-menu-button_active {
  border: 1px solid var(--button-color);
  pointer-events: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--button-color);
  outline: none;
}

.title {
  color: var(--text-title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-shadow: 4px 4px var(--accent-color);
}

.header__title {
  padding-block-start: 13px;
}

.header__description {
  align-self: start;
  color: var(--header-description-bg);
  font-weight: bold;
  font-size: var(--regular-font-size);
  line-height: 1.3em;
  background-color: var(--accent-color);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid var(--decor-color);
}

.decorated-zone::before {
  top: var(--page-padding);
  right: var(--page-padding);
  border-bottom: none;
  border-left: none;
}

.decorated-zone::after {
  bottom: var(--page-padding);
  left: var(--page-padding);
  border-top: none;
  border-right: none;
}

.content {
  display: grid;
  gap: var(--main-content-spacing);
  padding-inline: var(--page-padding);
  font-size: var(--regular-font-size);
  line-height: 23.4px;
}

.section {
  display: grid;
  gap: 20px;
}

.section__title {
  color: var(--section-title-color);
  font-size: inherit;
  line-height: inherit;
}

.section__block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section__block-title {
  color: var(--section-block-title-bg);
  font-size: inherit;
  line-height: inherit;
  background-color: var(--accent-color);
}

.section__block-text {
  color: var(--text-color);
}

.section__images {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section__images > .section__block {
  display: grid;
  gap: 10px;
}

.text-regular {
  font-weight: normal;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--full-height);
  min-height: 668px;
}

.footer__title {
  text-shadow: 2px 2px var(--accent-color);
}

.decorated-link {
  text-decoration: none;
  /* ошибочно опирался на ссылки не в UI ките, 
  а в самом макете, где отступы у теней ссылок непостоянные */
  text-shadow: 2px 2px var(--accent-color);
}

.decorated-link:hover {
  text-decoration: underline;
}

.decorated-link:focus {
  outline: none;
}

.decorated-link:focus-visible {
  outline: 1px solid var(--text-color);
}

@media (width >= 768px) {
  .page {
    --page-spacing: 60px;
    --page-padding: 20px;
    --main-content-spacing: 80px;
  }

  .header {
    min-height: 1024px;
  }

  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__title {
    margin-inline-start: calc(var(--page-padding) * -1);
  }

  .header__description {
    margin-inline-start: 50%;
  }

  .section-introduction,
  .section-tips {
    grid-template-columns: repeat(3, 1fr);
  }

  .section__title {
    grid-column: 1;
  }

  .section__block {
    grid-column: 2 / -1;
  }

  .section-tips .section__block-title {
    grid-column: 2 / -1;
    inline-size: 100%;
  }

  .section-tips .section__title {
    grid-row: 1 / 3;
  }

  .section__images {
    gap: 20px;
  }

  .section__images > .section__block {
    gap: 20px;
  }

  .section__images .image:nth-child(1) {
    grid-column: 1 / 3;
  }

  .section__images .image:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .section__images .image:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .section__images .image:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .section__images .image:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }

  .footer {
    min-height: 1024px;
  }
}

@media (width >= 1024px) {
  .header {
    min-height: 768px;
    padding-block-end: 20px;
  }

  .header__theme-menu {
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
    padding-block-start: 0;
  }

  .header__bulb {
    grid-column: 1;
    grid-row: 1;
    justify-self: end;
  }

  .header__title {
    grid-row: 2 / 4;
    align-self: center;
    padding-block-start: 45px;
  }

  .header__description {
    grid-row: 4 / 5;
  }

  .section-reasons {
    grid-template-columns: repeat(3, 1fr);
  }

  .section-reasons > .section__title {
    grid-row: 1;
  }

  .section-reasons > .section__block {
    grid-row: 2;
  }

  .section-reasons > .section__block:nth-child(2) {
    grid-column: 1;
  }

  .section-reasons > .section__block:nth-child(3) {
    grid-column: 2;
  }

  .section-reasons > .section__block:nth-child(4) {
    grid-column: 3;
  }

  .footer {
    min-height: 768px;
  }
}
