.page {
  display: flex;
  flex-direction: column;
  gap: var(--page-spacing);
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 10px;
}

.header {
  display: grid;
  height: 100vh;
  min-height: 668px;
}

.header__bulb {
  visibility: var(--special-elemets-visibility);
  position: relative;
  justify-self: end;
  font-size: 1.125rem;
  line-height: 25px;
  color: var(--accent-color);
  margin-right: 28px;
}

.header__bulb::after {
  content: '';
  position: absolute;
  /* подгонялось по макету */
  top: 8px;
  left: calc(100% + 10px);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  font-size: 1.125rem;
  line-height: 1em;
  padding-inline: 25px; /* в макете 13px, но в UI ките 25px */
  background-color: transparent;
  color: var(--accent-color);
  border: 1px solid transparent;
  text-transform: lowercase;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--accent-color-fade);
}

.header__theme-menu-button_active,
.header__theme-menu-button_active:hover {
  border: 1px solid var(--accent-color);
}

.title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  color: var(--text-title-color);
  text-shadow: 4px 4px var(--accent-color);
}

.header__description {
  font-size: 1.125rem;
  line-height: 1.3em;
  font-weight: bold;
  align-self: start;
  color: var(--bg-color);
  background-color: var(--accent-color);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid var(--accent-color);
}

.decorated-zone::before {
  top: 0;
  right: 0;
  border-left: none;
  border-bottom: none;
}

.decorated-zone::after {
  bottom: 20px; /* TODO: добавить отступ */
  left: 0;
  border-right: none;
  border-top: none;
}
