:root {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;

  --accent-color: #ff0070;
  --accent-color-fade: rgb(255 0 112 / 0.4);

  --text-color: #f1b2ce;
  --text-title-color: #db00ff;

  --button-color: #ff0070;
  --header-description-bg: #000028;
  --decor-color: #ff0070;
  --section-title-color: #ff0070;
  --section-block-title-bg: #000028;

  --special-elements-visibility: visible;

  --page-spacing: 40px;
  --main-content-spacing: 50px;
  --page-padding: 10px;
  --full-height: 100vh;
  --regular-font-size: 1.125rem;
}
